body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(235, 236, 236);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar>li{
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    border: 0;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.mainButton{
    background-color: rgb(113, 192, 113);
    color: white;
}

.mainButton:hover{
    box-shadow: 1px 1px green;
}

.secButton{
    background-color: rgb(98, 199, 199);
    color: white;
}

.secButton:hover{
    box-shadow: 1px 1px rgb(0, 124, 128);
}

.buscar{
    background-color: white;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within {
    border: 1px solid blue;  
}

.buscar>input{
    outline: none;
    border: 0;
}

.iconoBusqueda:hover{
    color: blue;
}

.breedCardContainer{
    display: flex;
}

.breedCard{
    margin: 10px;
    background-color: rgb(153, 148, 151);
    box-shadow: 5px 10px 5px rgb(207, 199, 204);
    border-radius: 10px;
}

.breedTitle{
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
}

.contenedorImagen{
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px;
}

.contenedorImagen:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagen>img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
